.Rproj.user
.Rhistory
.RData
.Ruserdata
*.sav
*.logdata/
data/
.vdoc.*

# Quarto outputs
*.html
*_files/
_extensions/
.quarto/
*.js

# Keep only the source
!*.qmd
!table_first.png
!table_second.png
!table_prop.png
!zambranodavila_slides.html
!*.pdf
